{% extends 'main.html' %}

{% block content %}

<div class="home-container">

    <div>

        <h3></h3>
        <hr>

    </div>
    
    <div class="card">

        <div>   
            <!-- post views -->
            <span>@{{ post_comment_section_id.post_user }}</span>
            <h5>{{ post_comment_section_id.discription }}</h5>
            <h5><img src =" {{ post_comment_section_id.post_image.url}}" width="600" ></h5>
        </div> 

        <div class="info-container">
            <p style="margin-right: 10px;">{{ post_comment_section_id.post_likes.count }} like{{ post_comment_section_id.post_likes.count|pluralize  }}</p>
            <p>{{ post_comment_section_id.commentviews_set.count }} comment{{ post_comment_section_id.commentviews_set.count|pluralize }}</p>
        </div>

        <div class="btn-group"> 
            <!-- like and Liked -->
            <form action="{% url 'post_like_post_comment_section' post_comment_section_id.id %}" method="post">
                {% csrf_token %}
                {% if request.user in post_comment_section_id.post_likes.all %}
                  <button type="submit">Liked</button>
                {% else %}
                  <button type="submit">Like</button>
                {% endif %}
            </form>

            <form action="{% url 'post_comment_section' post_comment_section_id.id %}" method="post">
                {% csrf_token %}  
                <button type="submit">Comment</button>
            </form>

            <form action="#" method="post">
                {% csrf_token %}  
                <button type="submit">Share</button>
            </form>
            
        </div>

        <hr>

        <div class="widget-post1" aria-labelledby="post-header-title">
            <form action="{% url 'send_comment' post_comment_section_id.id %}" method="post" enctype="multipart/form-data" class="widget-post1__form" aria-label="post widget">
                {% csrf_token %}
                <div class="widget-post__content">
                    <label for="post-content" class="sr-only">Share</label>
                    <textarea name="message" class="widget-post__textarea1 scroller" placeholder="..." id="commentbox" oninput="validateInput3()"></textarea>
                </div>
                <div class="widget-post__actions1 post--actions1">
                    <div class="post-actions__attachments">
                        <button type="button" class="btn post-actions__upload attachments--btn">
                            {% csrf_token %}
                            <label for="upload-image" class="post-actions__label">
                            <i class="fa fa-upload" aria-hidden="true"></i> 
                            image
                            </label>
                        </button>
                        <input type="file" name="massage_image" id="upload-image" multiple>
                    </div>
                    <div class="post-actions__widget">
                        {% csrf_token %}
                        <button type="submit" class="btnn" id="commentbox_btn" disabled >Comment</button>
                    </div>                  
                </div>
            </form>
        </div>

        <hr> 

        <div class="comment-cad">
            <!-- comment section -->
            {% for comment in post_comment_section_id.commentviews_set.all %}
            <div class="hello">
                <div class="dua_len_ngang_hang_va_dieu_chinh_khoang_cach">
                    <div class="comment-card1">
                        <h5><a href=" {% url 'post_profile' comment.comment_user_id %}">@{{comment.comment_user }}</a></h5>
                        <small>{{ comment.message }}</small>
                    </div>
                    <div class="dropdown">
                        <span onclick="myFunction('{{ comment.id }}')" class="dropbtn"><i class="fas fa-ellipsis-v"></i></span>
                        <div id="myDropdown-{{ comment.id }}" class="dropdown-content dropdown-{{ comment.id }}">
                            {% if comment.comment_user == request.user %}
                            <a href="{% url 'del_comment' comment.id %}">del_comment</a>
                            {% endif %}
                            <a>Modify</a>
                            <a>report comment</a>
                        </div>
                    </div> 
                </div>
                <div>
                    {% if comment.massage_image %}
                        <h1><img src="{{ comment.massage_image.url }}" width="100"></h1>
                    {% endif %}
                </div>     
            </div>
            <br>
            {% endfor %}
        </div>

        <hr>
        
    </div>

    <div>
        <h3></h3>
        <hr>
    </div>

</div>
    
{% endblock content %}
