{% extends 'main.html' %}

{% block content %}

<div class="home-container">

    <div>

        <h3></h3>
        <hr>

    </div>
    
    
    <div>

        {% for post in all_posts %}
        
            <div class="card">

                <div>
                    <span><a href="{% url 'post_profile' post.post_user_id %}" >@{{ post.post_user }}</a></span>
                    {% if post.post_user == request.user %}
                        <a href="{% url 'del_post' post.id %}" >del post</a>
                    {% endif %}
                    <h5>{{ post.discription }}</h5>
                    <h5><img src =" {{ post.post_image.url}}" width="700" ></h5>
                </div>

                <hr>

                <div class="info-container">
                    <p>{{ post.post_likes.count }} like{{ post.post_likes.count|pluralize }}</p>
                    <p>{{ post.commentviews_set.count }} comment{{post.commentviews_set.count|pluralize}}</p> 
                </div>

                <hr>

                <div class="btn-group">
                    <form action="{% url 'post_likes_post_profile' post.id %}" method="post">
                        {% csrf_token %}
                        {% if request.user in post.post_likes.all %}
                        <button type="submit">Unlike</button>
                        {% else %}
                        <button type="submit">Like</button>
                        {% endif %}
                    </form>
                
                    <form action="{% url 'post_comment_section' post.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Comment</button>
                    </form>

                </div>
            
                <hr>

            </div>

        {% endfor %}

    </div>

    <div>
        <h3></h3>
        <hr>
    </div>

</div>
    
{% endblock content %}