{% extends 'main.html' %}

{% block content %}



<div class="home-container">
    
    <div>

        <h3>Danh mục khác</h3>
        <hr>

    </div>

    <div >
        
        <div class="card" >

            <div>
                <div class="form1">
                    <form action="{% url 'search_user' %}" method="get">
                    <input type="text" name="query" placeholder="Tìm kiếm" id="searchInput" oninput="validateInput1()">
                    <input class="btnn" type="submit" value="Search" id="searchBtn" disabled>
                    </form>
                </div>

                <div>
                    {% for search_user in search_users %}
                    <a href="{% url 'post_profile' search_user.id %}"><span>{{ search_user.username }}</span></a>
                    {% endfor %}
                </div>
            </div>

            <hr>

            <div>
                <button class="create-button" onclick="toggleCreatePostForm(event)">{{request.user.username}} ơi, bạn đang nghĩ gì thế? </button>
            </div>
            
            <hr>
        
            <div class="widget-post" aria-labelledby="post-header-title" id="create-post-form" style="display: none;">
                <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data" class="widget-post__form" aria-label="post widget">
                    {% csrf_token %}
                    <div class="widget-post__content">
                        <label for="post-content" class="sr-only">Share</label>
                        <textarea name="discription" class="widget-post__textarea scroller" placeholder="{{request.user.username}} ơi bạn đang nghĩ gì thế? " id="createbox" oninput="validateInput2()"></textarea>
                    </div>
                    <div class="widget-post__actions post--actions">
                        <div class="post-actions__attachments">
                            <button type="button" class="btn post-actions__upload attachments--btn">
                            {% csrf_token %}
                            <label for="upload-image" class="post-actions__label">
                                <i class="fa fa-upload" aria-hidden="true"></i> 
                                upload image
                            </label>
                            </button>
                            <input type="file" name="post_image" id="upload-image" multiple>
                        </div>
                        <div class="post-actions__widget">
                            {% csrf_token %}
                            <button type="submit" class="btnn" id="createbox_btn" disabled >publish</button>
                        </div>
                    </div>             
                </form>
            </div>
            
        </div>

        <div>
            {% for post in posts%}

                <div class="card">
                    
                    <div>
                        <a href="{% url 'post_profile' post.post_user_id %}">@{{ post.post_user }}</a>
                        <h5>{{ post.discription }}</h5>
                        <h5><img src =" {{ post.post_image.url}}" width="600"></h5>
                    </div>
                    <div class="info-container">
                        <p>{{ post.post_likes.count }} like{{ post.post_likes.count|pluralize }}</p> 
                        <p>{{ post.commentviews_set.count }} comment{{post.commentviews_set.count|pluralize}}</p>                     
                    </div>
                    
                    <hr>

                    <div class="btn-group">
                        
                        <form action="{% url 'post_likes_homepage' post.id %}" method="post">
                            {% csrf_token %}
                            {% if request.user in post.post_likes.all %}
                            <button type="submit">Liked</button>
                            {% else %}
                            <button type="submit">Like</button>
                            {% endif %}
                        </form>
                    
                        <form action="{% url 'post_comment_section' post.id %}" method="post">
                            {% csrf_token %}  
                            <button type="submit">Comment</button>
                        </form>

                        <form action="#" method="post">
                            {% csrf_token %}  
                            <button type="submit">Share</button>
                        </form>

                    </div>

                </div>

            {% endfor %}
        </div>   
    </div>

    <div>
        <h3>Đang hoạt động</h3>
        <hr>
    </div>

</div>
{% endblock content %}




<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#like-form").submit(function(event) {
            event.preventDefault();

            var postId = $(this).data("post-id");

            $.ajax({
                url: "/post_likes_homepage/" + postId + "/",
                type: "POST",
                headers: { "X-CSRFToken": "{{ csrf_token }}" },
                success: function(response) {
                    updateLikeButton(postId);
                },
                error: function(xhr) {
                    console.log(xhr.responseText);
                }
            });
        });

        function updateLikeButton(postId) {
            var likeButton = $("#like-form button");

            if (likeButton.text() === "Like") {
                likeButton.text("Liked");
            } else {
                likeButton.text("Like");
            }
        }
    });
</script> -->