<div class="header_navbar_card">
<div class="info-container">
    <div>
        <a href="{% url 'homepage' %}">
            <i class="fas fa-globe fa-lg text-warning" style="color: #333333; font-size: 50px; margin-left: 20px;"></i>
        </a>
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <div style="display: flex;margin-top: 10px;">
            <div class="txt1">
                <h2><a href="{% url 'post_profile' request.user.id %}">@{{ request.user.username }}</a></h2>
                <a href="{% url 'post_profile' request.user.id %}">
                    <img class="img1234" src="{{ request.user.profileuser.avatar.url }}" width="50">
                </a>
            </div>
            <form action="{% url 'user_logout' %}" method="get">
                <input type="submit" value="Logout">
            </form>
        </div>
        {% else %}
            <li><a href="{% url 'user_login'%}">Login</a></li>
            <li><a href="{% url 'user_signup'%}">Signup</a></li>
        {% endif %}
    </div>
</div>

<hr>
<div class="header_navbar">
    <div class="navbar">
        <a href="#">Bài viết <i class="far fa-bookmark"></i></a>
        <a href="#">Chỉnh sửa thông tin <i class="fas fa-flag"></i></a>
        <a href="#">Bài viết chia sẻ <i class="far fa-eye-slash"></i></a>
        <a href="#">Lịch sử hoạt động <i class="far fa-bell"></i></a>
        <a href="#">Bài viết đã lưu <i class="far fa-bell"></i></a>
    </div>
</div>
</div>
