body {
    background-color: rgb(255, 255, 255);
}

.home-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr ;
    }
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    max-width: 700px;
    margin: 20px;
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 5px;
    }   
.card h2 {
      font-size: 20px;
      color: #333;
    }   
.card p {
      font-size: 16px;
      color: #666;
    }
.btn-group button {
    background-color: #ffffff;
    /* border: 1px solid black;  */
    border: none;
    color: black; 
    padding: 8px 150px;  /*padding width 150 = max-width: 700; */
    cursor: pointer; 
    float: left; 
  } 
.btn-group:after {
    content: "";
    clear: both;
    display: table;
  }  
.btn-group button:not(:last-child) {
    border-right: none; 
  }
.btn-group button:hover {
    background-color: #d1cbcb;
  }
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

input[type=text] {
width: 150px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 12px;
background-color: white;
background-image: url('searchicon.png');
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 11px 20px 11px 40px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
width: 85%;
}

.btn {
background-color: transparent;
border: none;
display: inline-flex;
align-items: center;
gap: 1rem;
cursor: pointer;
transition: all ease-in-out 0.3s;
padding: 0.5rem 1.8rem;
border-radius: 5px;
box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
font-weight: 500;
}